.app-component-container {
  display: flex;
  position: relative;
}
.app-component-button {
  margin: var(--dl-space-space-oneandhalfunits);
  font-family: "Comic Sans MS";
}
.app-component-text1 {
  display: inline-block;
}
